<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="\static\styles\custom.css" type="text/css">
<title>Kostky</title>
</head>
<body>
    <h1>Kostky</h1> <br>  <br>
    <h3>Vyber počet hracích kostek: </h3><br><br>
    <a class="moznost" href="/kostka/1">1 </a>
    <a class="moznost" href="/kostka/2">2 </a>
    <a class="moznost" href="/kostka/3">3 </a>
    <a class="moznost" href="/kostka/4">4 </a>
    <a class="moznost" href="/kostka/5">5 </a>
    <a class="moznost" href="/kostka/6">6 </a>
    <a class="moznost" href="/kostka/7">7 </a>
    <a class="moznost" href="/kostka/8">8 </a>
    <a class="moznost" href="/kostka/9">9 </a>
    <a class="moznost" href="/kostka/10">10 </a>
    <br>
    <a class="moznost" href="/kostka/11">11</a>
    <a class="moznost" href="/kostka/12">12 </a>
    <a class="moznost" href="/kostka/13">13</a>
    <a class="moznost" href="/kostka/14">14</a>
    <a class="moznost" href="/kostka/15">15</a>
    <a class="moznost" href="/kostka/16">16</a>
    <a class="moznost" href="/kostka/17">17</a>
    <a class="moznost" href="/kostka/18">18</a>
    <a class="moznost" href="/kostka/19">19</a>
    <a class="moznost" href="/kostka/20">20</a>
<!--
    <audio autoplay>
        <source src="\static\audio\sound.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
--> 
</body>
</html>
 